name: Test
on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Setup repo
        uses: actions/checkout@v5

      - name: Setup deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: latest

      - name: Testing Package
        run: deno test -A
